* { margin: 0; }
body {
	margin: 30px auto;
	width: 70%;
	background-color: black;
	color:white;
}
nav, .container {
	margin-bottom: 20px;
	
}
.nav-r{
	float:right;
}
.nav-r a {
	width:45px;
	display:inline-block;
	border-color:red;
	border-style: solid;
}
footer {
	text-align:center;
}
